[user]
	email = magne.rasmussen@gmail.com
	name = Magne Rasmussen

[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[commit]
	gpgsign = true

[includeIf "gitdir:~/development/betr/"]
	path = ~/development/betr/.gitconfig

[includeIf "gitdir:~/development/dips/"]
	path = ~/development/dips/.gitconfig

[includeIf "gitdir:~/development/corporater/"]
	path = ~/development/corporater/.gitconfig

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
